@charset "utf-8";
/* CSS Document */

html, body {
	background-color: #000;
	min-width: 800px;
	overflow: hidden;
}

body {
	margin: 0px;
	color: #FFF;
	font-family: "Raleway", "Montserrat", sans-serif;
}

#splash {
	background-color: #000;
	height: 100vh;
	width: 100vw;
	z-index: 1000;
	position: absolute;
}

#splashbutton {
	position: absolute;
	top: 35%;
	left: 42%;
	border-radius: 50%;
	border: 2px solid white;
	background-color: transparent;
	width:200px;
	height:200px;
	font-size:20px;
	line-height:200px;
	text-align:center;
	cursor: pointer;
	font-size: 30px;
}

#container {
	overflow: hidden;
}

#clinton, #trump {
	width: 50%;
	float: left;
	background-color: transparent;
}

#clinton {
	position: relative;
}

#trump {
	position: relative;
}

.profileimg {
	height: 100vh;
	z-index: -1000;
}

#trump .profileimg {
	float: left;
}

#clinton .profileimg {
	float: right;
}

.info {
	position: absolute;
	background-color: transparent;
	top: 15%;
}

#clinton .info {
	left: 30px;
}

#trump .info {
	right: 30px;
	text-align: right;
}

#trump .name {
	font-family: "Merriweather", serif;
}

#trump .firstname {
	font-weight: 200;
	font-size: 36px;
}

#trump .lastname {
	font-weight: 400;
	font-size: 50px;
	margin-top: -4px;
}

#clinton .name {
	font-family: "Montserrat", "Raleway", sans-serif;
}

#clinton .firstname {
	font-weight: 200;
	font-size: 36px;
}

#clinton .lastname {
	font-weight: 400;
	font-size: 50px;
}

.party {
	font-family: "Raleway", serif;
	font-size: 20px;
	font-weight: 500;
	margin-top: 10px;
	font-weight: 500;
}



#arrow {
	width: 60px!important;
	position: absolute;
	bottom: -3%;
	left: calc(50% - 35px);
	z-index: 100;
	/*animation: pulse 1s linear infinite;*/
}

#arrowshadow {
	display: none;
	box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.75);
	border-radius: 50%;
	height: 100px;
	width: 100px;
}

#arrow:hover {
	color: #000;
	cursor: pointer;
}

.profile {
	height: 100vh;
}

.hidden {
	opacity: 0;
}

/*@keyframes pulse {
    0% {
    	transform: scale(1, 1);
    }

    50% {
    	transform: scale(1.03, 1.03);
    }

    100% {
    	transform: scale(1, 1);
    }
}*/